body
{
    font-family: lucida grande ,tahoma,verdana,arial,sans-serif;
    background-color: #e9e9e9;
}

body p
{
    font-size: 0.8em;
    line-height: 1.28;
}

#wrapper
{
    width: 1080px;
    background-color: white;
    margin: 0 auto;
    padding: 10px;
    border: 5px solid #dedede;
}

#banner
{
    background-image: url(../Images/bannerAudi.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid #dedede;
    height: 200px;
}

#content_area
{
    float: left;
    width: 750px;
    margin: 20px 0 20px 0;
    padding: 10px;
}


/* The side navigation menu */
.sidebar {
    float: right;
    width: 250px;
    height: 200px;
    margin: 20px 10px;
    padding: 10px;
    border: 2px solid #E3E3E3;
    overflow: auto;
}

/* Sidebar links */
.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
    background-color: lightskyblue;
    color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}


footer
{
    position:relative;
    clear: both;
    width: auto;
    height: 40px;
    padding: 10px;
    border: 3px solid #E3E3E3;
    text-align: center;
    color: #fff;
    text-shadow: 0.1em 0.1em #333;
    background-image: url(../Images/lightblue.jpg);
}

#navigation
{
    height: 80px;
    border: 3px solid #E3E3E3;
    margin-top: 10px;
    text-shadow: 0.1em 0.1em #333;
    background-image: url(../Images/lightblue.jpg);
}

#nav
{
    list-style: none;
}

#nav ul
{
    margin: 10px;
    padding: 0;
    width: auto;
    display: none;
}

#nav li
{
    font-size: 24px;
    float: left;
    position: relative;
    width: 13%;
    height: 50px;
    padding: 0px;
    margin: 10px;
    text-align: center;
}

#nav a:link, nav a:active, nav a:visited
{
    display: block;
    color: #fff;
    text-decoration: none;
}

#nav a:hover
{
    color: dimgrey;
}

.imgLeft
{
    float: left;
    width: 240px;
    height: 150px;
    margin: 0px 10px 10px 0;
    padding: 10px;
}

.imgRight
{
    float: right;
    width: 200px;
    height: 250px;
    margin: 0px 0 10px 10px;
    padding: 10px;
}

table, th, td {
    border-bottom: 1px solid #ddd;
    background-color: whitesmoke;
}
